<div class="modal" [class.is-active]="opened">
  <div class="modal-background">

  </div>
  <div class="modal-content">
    <div class="bangumi-box">
      <button class="close"></button>
      <div class="on-air-indicator is-unselectable">Mon</div>
      <h3>Sword Art Online</h3>
      <div class="cur-epi-indicator">
        <b>18</b>
        <div class="button-group is-pulled-right">
          <button class="button is-danger">
            Cancel
          </button>
          <button class="button is-primary">
            Save
          </button>
        </div>
        <div class="is-clearfix"></div>
      </div>
      <div class="bangumi-form">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label for="bangumi-name" class="label">Bangumi Name</label>
              <div class="control">
                <input type="text" class="input is-primary">
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label for="bangumi-updated-on" class="label">Updated On</label>
              <div class="control">
                <div class="select is-primary">
                  <select name="bangumi-updated-on">
                    <option value="1">Mon</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label for="bangumi-watched-episodes" class="label">Watched</label>
              <div class="control">
                <input type="number" class="input is-primary">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h4>Seekers</h4>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">dmhy</label>
              <div class="control">
                <input type="text" class="input is-primary">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">dmhy</label>
              <div class="control">
                <input type="text" class="input is-primary">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label">dmhy</label>
              <div class="control">
                <input type="text" class="input is-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
