<div class="modal" [class.is-active]="opened">
  <div class="modal-background" (click)="close()">
  </div>
  <div class="modal-content">
    <button class="close" (click)="close()"></button>
    <div class="bangumi-box">
      <div *ngIf="bangumi">
        <h3>{{bangumi?.name}}</h3>
        <div class="on-air-indicator is-unselectable">
          {{utils.onAirDayToString(bangumi?.on_air_day)}}
        </div>
        <div class="cur-epi-indicator">
          <b>{{bangumi?.cur_epi}}</b>
          <div class="button-group is-pulled-right">
            <button class="button is-danger" (click)="delete()">
              Delete
            </button>
            <button class="button is-primary" (click)="save()">
              Save
            </button>
          </div>
          <div class="is-clearfix"></div>
        </div>
      </div>
      <div *ngIf="!bangumi">
        <h3 class="new">New</h3>
        <div class="cur-epi-indicator">
          <div class="button-group is-pulled-right">
            <button class="button is-primary" (click)="create()">
              Create
            </button>
          </div>
          <div class="is-clearfix"></div>
        </div>
      </div>
      <div class="bangumi-form">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Bangumi Name</label>
              <div class="control">
                <input type="text" class="input is-primary" [(ngModel)]="b.name">
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label class="label">Updated On</label>
              <div class="control">
                <div class="select is-primary">
                  <select name="bangumi-updated-on" [(ngModel)]="b.on_air_day">
                    <option *ngFor="let day of constants.ON_AIR_DAY_ARRAY" [ngValue]="day.value">{{day.day}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label class="label">Watched</label>
              <div class="control">
                <input type="number" class="input is-primary" [(ngModel)]="b.cur_epi">
              </div>
            </div>
          </div>
        </div>
        <h4>Seekers</h4>
        <div class="columns">
          <div class="column is-half" *ngFor="let seeker of b.seekers_obj">
            <div class="field">
              <label class="label">{{seeker.seeker}}</label>
              <div class="control">
                <input type="text" class="input is-primary" [(ngModel)]="seeker.chk_key">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
