@import "../../../constants";

.bangumi-box {
  max-width: 360px;
  width: 360px;
  margin: 10px;
  background-color: $blue-lighter;
  border: 1px solid $blue-light;
  float: left;
  position: relative;
  overflow: hidden;
  padding: 10px;
  h3 {
    font-size: 2em;
    color: $grey;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  .cur-epi-indicator {
    position: relative;
    b {
      font-size: 4em;
      font-family: $family-featuring-numeric;
      color: $turquoise-darker;
      line-height: 1;
      display: inline-block;
      float: left;
      cursor: pointer;
    }
    .quick-action {
      display: inline-block;
      float: left;
      text-align: center;
      margin-left: 20px;
      * {
        cursor: pointer;
        float: left;
        font-family: $family-featuring;
        font-weight: 900;
        overflow: hidden;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: 10px;
      }
      .up {
        font-size: 4em;
        color: $black;
      }
      .down {
        margin-left: 10px;
        font-size: 4em;
        color: $grey-light;
      }
    }
  }
  .on-air-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5em;
    line-height: 0.7;
    color: $grey-light;
    z-index: 0;
  }
}

@include mobile {
  .bangumi-box {
    width: auto;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
