<div class="bangumi-box" *ngIf="!bangumi.hide">
  <div class="on-air-indicator is-unselectable">{{utils.onAirDayToString(bangumi.on_air_day)}}</div>
  <h3 title="{{bangumi.name}}" (click)="enterEdit()">
    <a class="is-no-style">
      {{bangumi.name}}
    </a>
  </h3>
  <div class="cur-epi-indicator">
    <b (click)="doCheckUp()">
      <a class="is-no-style">{{loadingCurEpi ? '...' : bangumi.cur_epi}}</a>
    </b>
    <div class="quick-action is-unselectable">
      <div class="up" (click)="doPlus()">
        <a class="is-no-style">+</a>
      </div>
      <div class="down" (click)="doDecrease()">
        <a class="is-no-style">-</a>
      </div>
    </div>
  </div>
</div>
