<div class="bangumi-box" *ngIf="!bangumi.hide">
  <div class="on-air-indicator is-unselectable">{{utils.onAirDayToString(bangumi.on_air_day)}}</div>
  <h3 title="{{bangumi.name}}" (click)="enterEdit()">
    <a class="is-no-style is-unselectable">
      {{bangumi.name}}
    </a>
  </h3>
  <div class="cur-epi-indicator is-unselectable">
    <b (click)="doCheckUp()">
      <a class="is-no-style">{{loadingCurEpi ? '...' : bangumi.cur_epi}}</a>
    </b>
    <div class="quick-action is-unselectable">
      <div class="action-plus" (click)="doPlus()">
        <a class="is-no-style"><i class="iconfont icon-up"></i></a>
      </div>
      <div class="action-decrease" (click)="doDecrease()">
        <a class="is-no-style"><i class="iconfont icon-down-copy"></i></a>
      </div>
    </div>
  </div>
</div>
