<header>
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-three-quarters">
        <h1 class="logo is-unselectable">Anicolle</h1>
      </div>
      <div class="column is-hidden-touch" *ngIf="pageState == 'HOME'">
        <button class="button is-primary is-pulled-right" (click)="goToSettings()">Connection Settings</button>
        <div class="is-clearfix"></div>
      </div>
    </div>
  </div>
</header>

<!-- Connection Error -->
<section class="section connection-error" *ngIf="pageState == 'CONNECTION_ERROR'">
  <div class="container">
    <div class="error-x">X</div>
    <h2>Connection error, please check</h2>
    <button class="button is-primary" (click)="goToSettings()">Connection Settings</button>
  </div>
</section>

<!-- Settings -->
<settings-page *ngIf="pageState == 'SETTINGS'" (saved)="leaveSettings(true)" (cancelled)="leaveSettings()"></settings-page>

<!-- Home -->
<mainboard *ngIf="pageState == 'HOME'" (error)="mainboardError()"></mainboard>
