@import "../constants";

@include desktop {
  header {
    padding-top: 30px;
  }
}

h1.logo {
  color: $blue;
  font-weight: 900;
  font-size: 5em;
  line-height: 1;
  font-family: $family-featuring;
  padding: 0;
  margin: 0;
}

section.connection-error {
  text-align: center;
  color: $grey-light;
  .error-x {
    font-family: $family-featuring;
    font-size: 10em;
    line-height: 1;
    margin-top: 50px;
  }
}
