<header>
  <div class="container">
    <div class="columns is-desktop is-vcentered">
      <div class="column is-three-quarters">
        <h1 class="logo is-unselectable">Anicolle</h1>
      </div>
      <div class="column">
        <button class="button is-primary is-pulled-right">Connection Settings</button>
      </div>
    </div>
    <input class="search-box input is-primary is-large" type="text" placeholder="Search...">
    <div class="note is-pulled-right">Monday. You have ? bangumis.</div>
  </div>
</header>
