@import "../../../constants";

button.close {
  position: absolute;
  right: 0;
  top: 8px;
  background: none;
  border: none;
  z-index: 5;
  outline: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
  &::after {
    content: "X";
    font-family: $family-featuring;
    font-size: 3em;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  &:active {
    transform: translate(2px, 2px);
    text-shadow: none;
  }
}

button.next-episode {
  border: none!important;
}

.modal-content {
  background: $white;
  border: 1px solid $turquoise-darker;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-top: -8px;
  -webkit-overflow-scrolling: touch;

  h3 {
    font-size: 2em;
    font-family: $family-featuring;
    font-weight: 900;
    color: $blue;
  }
}

.modal {
  align-items: baseline;
}

.modal-background {
  background: rgba(0, 0, 0, 0.4);
}

.bangumi-checkup {
  margin: 20px 0;
  position: relative;
  .title, .link {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link {
    white-space: nowrap;
    color: $grey-light;
    font-style: italic;
    text-decoration: underline;
  }
  .button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
