<section class="section mainboard-header">
  <div class="container">
    <search-box [(keyword)]="keyword"></search-box>
    <div class="statistic-notes is-pulled-right">
      <b>{{utils.getCurrentWeekDay()}}</b>. You have {{bangumis?.length}} bangumis.
    </div>
    <div class="is-clearfix"></div>
  </div>
</section>

<section class="section">
  <div class="container">
    <box *ngFor="let bangumi of (bangumis | bangumiSearch: keyword); index as i; trackBy: bangumiTrackBy" [(bangumi)]="bangumis[i]" [allSeekers]="seekers"></box>
    <div class="is-clearfix"></div>
  </div>
</section>

<section class="section mainboard-footer">
  <div class="container">
    <div class="button is-primary plus-button is-pulled-right">+</div>
    <div class="is-clearfix"></div>
  </div>
</section>

<mobile-search-box [(keyword)]="keyword"></mobile-search-box>
