@import "~bulma/sass/utilities/initial-variables.sass";

/* Color Definitions */
$turquoise:         #C0C1D6;
$turquoise-darker:  #6E7A98;
$blue:              #7F86E2;
$blue-light:        #9A9AA6;
$blue-lighter:      #E8EAF0;
$red:               #DD8B8B;

/* Featuring font definition
 * Nunito: Regular 400, SemiBold 600, SemiBold Italic 600i, Black 900
 * Encode Sans: Bold 700 (For numerics)
 */
$family-featuring: "Nunito", $family-sans-serif;
$family-featuring-numeric: "Encode Sans", $family-sans-serif;

@import "~bulma/sass/utilities/_all.sass";
